<%= simple_form_for(@mataharinya, url: wizard_path, :method => :put) do |f| %>
<%= f.input :waktu, label: "Apakah metode peramalan yang akan anda gunakan mengutamakan fungsi dari waktu?
" %>
<%= f.input :periodisasi, label: "Apakah metode peramalan yang akan anda gunakan mengutamakan  nilai-nilai suatu variabel yang diatur secara periodesasi?
" %>
<%= f.input :variabel_bebas, label: "Apakah metode peramalan yang akan anda gunakan mengutamakan variasi variabel (variabel x (bebas) dan y (terikat))?
" %>
<div class="form-actions">
  <%= f.button :submit, "Lanjut!" %>
</div>
<% end %>
