<p id="notice"><%= notice %></p>

<p>
  <strong>Model persamaan:</strong>
  <%= @mataharinya.model_persamaan %>
</p>

<p>
  <strong>Data historis:</strong>
  <%= @mataharinya.data_historis %>
</p>

<p>
  <strong>Variable:</strong>
  <%= @mataharinya.variable %>
</p>

<p>
  <strong>Intuisi:</strong>
  <%= @mataharinya.intuisi %>
</p>

<p>
  <strong>Subjektif:</strong>
  <%= @mataharinya.subjektif %>
</p>

<p>
  <strong>Waktu:</strong>
  <%= @mataharinya.waktu %>
</p>

<p>
  <strong>Periodisasi:</strong>
  <%= @mataharinya.periodisasi %>
</p>

<p>
  <strong>Variabel bebas:</strong>
  <%= @mataharinya.variabel_bebas %>
</p>

<p>
  <strong>Kuesioner:</strong>
  <%= @mataharinya.kuesioner %>
</p>

<p>
  <strong>Alat interview:</strong>
  <%= @mataharinya.alat_interview %>
</p>

<p>
  <strong>Uji coba:</strong>
  <%= @mataharinya.uji_coba %>
</p>

<p>
  <strong>Dua variabel keputusan:</strong>
  <%= @mataharinya.dua_variabel_keputusan %>
</p>

<p>
  <strong>Linier programming:</strong>
  <%= @mataharinya.linier_programming %>
</p>

<p>
  <strong>Garis tren:</strong>
  <%= @mataharinya.garis_tren %>
</p>

<p>
  <strong>Garis lurus:</strong>
  <%= @mataharinya.garis_lurus %>
</p>

<p>
  <strong>Populasi objek:</strong>
  <%= @mataharinya.populasi_objek %>
</p>

<p>
  <strong>Banyak staff:</strong>
  <%= @mataharinya.banyak_staff %>
</p>

<p>
  <strong>Kemampuan analisis:</strong>
  <%= @mataharinya.kemampuan_analisis %>
</p>

<p>
  <strong>Wawancara langsung:</strong>
  <%= @mataharinya.wawancara_langsung %>
</p>

<p>
  <strong>Opini masyarakat:</strong>
  <%= @mataharinya.opini_masyarakat %>
</p>

<p>
  <strong>Waktu singkat:</strong>
  <%= @mataharinya.waktu_singkat %>
</p>

<p>
  <strong>Sebagian objek:</strong>
  <%= @mataharinya.sebagian_objek %>
</p>

<p>
  <strong>Imbalan koresponden:</strong>
  <%= @mataharinya.imbalan_koresponden %>
</p>

<p>
  <strong>Memperagakan kegiatan:</strong>
  <%= @mataharinya.memperagakan_kegiatan %>
</p>

<p>
  <strong>Praktek:</strong>
  <%= @mataharinya.praktek %>
</p>

<%= link_to 'Edit', edit_mataharinya_path(@mataharinya) %> |
<%= link_to 'Back', mataharinyas_path %>
